<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenshotToJpg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenshottoJpg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenshotToJpg.Properties.Settings>
            <setting name="ScreenshotFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsStartupRegistered" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreenshotToJpg.Properties.Settings>
        <ScreenshottoJpg.Properties.Settings>
            <setting name="ScreenshotFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="設定" serializeAs="String">
                <value />
            </setting>
        </ScreenshottoJpg.Properties.Settings>
    </userSettings>
</configuration>